@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

/*@font-face {
  font-family: 'Lifeisgoofy';
  src: url('/fonts/life.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}/*
.custom-font {
  font-family: 'Lifeisgoofy', sans-serif;
}
/* Global styles */
*{
  scroll-behavior: smooth;
}
body {
  font-family: 'Ostrich Sans';
  margin: 0;
  padding: 0;
  max-width: fit-content;
  background-color: #FCEDA9;
  
}

/* Header styles */
.header {
  background-color: #FCEDA9;
  height: auto; /* Allow the height to adjust based on content */
  padding: 1px 20px; /* Adjust padding for better responsiveness */
  z-index: 9;
  position: fixed;
  top: 0; 
  color: #E63747;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Public Sans';
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Prevent overflow issues */
}

.logo {
  display: flex;
  justify-content: center;
  margin-left: -2.3%;
  align-items: center;
  position: relative;
  margin-right: 0;
}

.logo img {
  height: 10.5vh;
  transform: translateY(-5%);
  flex-shrink: 0;
}
.title{
  background-color: #FCEDA9;
  top:60%;
  margin-left: 0;
  margin: 0;
  font-family: 'CustomFont';
  color: var(--accent-main, #E63747);
  text-align: left;
  font-size: 18px;
  font-style:normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.86px;
  word-spacing: 3.5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Public Sans';
  margin-top: 1px;
}

.nav ul {
  list-style: none;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  color: #E63747;
  text-align: center;
  font-family: 'Public Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.7px;
  word-spacing: 5px;
}

.nav li {
  margin-right: 15px;
}

.nav a {
  color: #E63747;
  text-decoration: none;
  font-family: 'Public Sans';
}

/* .Part1 {
  max-width: 100%;
  padding-top: 20px;
  background-color: #FCEDA9;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #FCEDA9;
}

.content h3{
  font-size: 107.54px;
  color:#E63747;
  margin-top: 0;
  letter-spacing: -2px;
  line-height:0.8;
  text-align: center;
} */
.hero {
  /* background-image: #fceda9; */
  padding: 0px;
  text-align: center;

}

.banner {
  /* margin-bottom: 1px; */
  display: flex;
  justify-content: center;
  font-size: 100.54px;
  color:#E63747;
  margin-top: 40px;
  letter-spacing: -2px;
  line-height:0.8;
  margin-left: 10px;
}

.content{
  font-size: 38.2px;
  margin-top: -100px;
  letter-spacing: -0.58px;
  margin-bottom: 0;
  margin-left: 1px;
  line-height: 0.1;
  max-width: 100%;
  z-index:-1;
  color:#237560;
  justify-content: center;
}

.Border img{
  width: 1473px;
  height: 800px;
}

.arrow-button {
  position: absolute; /* Position the arrow button */
  display: flex;
  align-items: center;
  margin-top: -1250px;
  z-index: 0;
  justify-content: space-between;
}

.arrow {
  width: 80px; /* Adjust the width as needed */
  height: auto;
  margin: 20px auto; /* Center the arrow */
  display: block; /* Make sure it takes up full width */
}
.arrowbox {
  display: flex; 
  justify-content: center;
}

.arrow-text {
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  /* transition: opacity 0.3s ease;  */
  font-size: 30px;
  font-weight: bold;
  color: #E63747;
  margin-left: 100px;
  margin-top: 60px;
}

.arrow-button:hover .arrow-text {
  opacity:1; /* Show the text on hover */
}

.arrow-text span {
  padding: 5px 10px;
  /* background-color: #fceda9; */
  /* border: 2px solid #e63747;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  animation: appear 2.2s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    /* transform: translateX(-10px); */
  }
  100% {
    opacity: 1;
    /* transform: translateX(0); */
  }
}

.left-text{

  font-size: 45px;
  font-weight: bold;
  color: #E63747;
  animation-direction: reverse;
}

.right-text{

  font-size: 50px;
  font-weight: bold;
  color: #E63747;
}
/* Welcome section styles */
.welcome {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 100px;
  margin-top: 100px;

}

.Border2{
  margin-top:-850px;

}
.Border2 img{
  width: 1473px;
  height: 750px;
}

.welcome h2 {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: -700px;
  color:#E63747;
  text-align: left;
  letter-spacing: -2.5px;
  line-height: 70.5px;
  /* margin-left: -300px; */
  width:1280px;
}

.welcome p {
  font-size: 19px;
  margin-bottom: 20px;
  /* margin-left: -250px; */
  font-weight: 600;
  line-height: -1.5;
  letter-spacing: -0.22px;
  width:1100px;
  font-family:'Public Sans';
}

.welcome-button {
  background-color: #316ADF; /* Same as background color */
  border: 3.5px solid #0F2043;
  box-shadow: 12px 12px 15px black;
  border-radius: 60px; /* Adjust as needed */
  padding: 1px 40px; /* Adjust as needed */
  text-align: center;
  font-size: 28px;
  color: white; /* Use your button text color */
  text-decoration: none;
  transition: all 2.5s ease; /* Add a smooth transition */
  cursor: pointer;
  position: absolute;
  display: inline-block;
  font-family: 'Ostrich Sans';
  z-index: 2;
  margin-top: -900px; /* Adjust as needed */
  /* margin-left: -78px; */
 /* Adjust as needed */
}

.welcome-button:hover {
  background-color: #316ADF; /* Change background on hover */
  color: white; /* Change text color on hover */
  transform: translateY(-5px); /* Move slightly upwards */
}

.welcome-text {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease; /* Add a smooth transition */
}

.welcome-button:hover .welcome-text {
  z-index: 2; /* Move to the top on hover */
}

.Border3{
  margin-top:-430px;
  z-index: 0;
  position: relative;
  /* margin-left: -345px; */
}

.Border3 img{
  width: 100%;
}

.Cards{
  width: 1300px;
  display: block;
  /* margin-left: -300px; */
  margin-top: 80px;
  justify-content: space-between;
  flex-wrap:wrap;
  font-style: Public Sans;
}
@media screen and (max-width: 1024px) {
  .Cards{
  width : 1000px;
  margin: 40px;
  
  }


  .welcome h2 {
width : 800px;
text-align: center;
}
.welcome p{
  width: 800px;
}

}

.Cards div h4{
  font-size: 27px;
}
.Cards div p{
  font-size: 14px;
}

.Card {
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: #fceda9;
  margin-left: 20px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5); /* Added shadow */
  border-radius: 30px;
  border-color: black;
  max-width: 250px;
  height: 310px;

}

.Card h4{
  font-size: 24px;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.Card img{
  width: 50%;
  height: 50%;
  object-fit:contain;
  margin-left: 65px;
  margin-top: -15px;
}

.Card p{
  font-size: 16px;
  font-family: 'Public Sans';
  text-wrap: 10px;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0px;
  flex-wrap: wrap;
  font-weight: normal;
  align-items: center;
  max-width: 250px;
}

.Our_Philosophy{
  max-width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:800px;

}

.ourp-button {
  background-color: #F46020; /* Same as background color */
  border: 3px 10px 10px 3px solid black; /* Use your button border color */
  border-radius: 102px; /* Adjust as needed */
  padding: 10px 18px; /* Adjust as needed */
  font-size: 30px;
  color: white; /* Use your button text color */
  text-decoration: none;
  font-family: 'Ostrich Sans';
  transition: all 2.5s ease; /* Add a smooth transition */
  cursor: pointer;
  position: absolute;
  z-index: 2;
  letter-spacing: 1.2px;
  box-shadow: 5px 5px 1px black;
 /* Adjust as needed */
  /* margin-left: -100px; */
  line-height: 0.6;
 /* Adjust as needed */
}
.ourp-button-green {
  background-color: #237560; /* Same as background color */
  border: 3px 10px 10px 3px solid black; /* Use your button border color */
  border-radius: 102px; /* Adjust as needed */
  padding: 10px 18px; /* Adjust as needed */
  font-size: 30px;
  color: white; /* Use your button text color */
  text-decoration: none;
  font-family: 'Ostrich Sans';
  transition: all 2.5s ease; /* Add a smooth transition */
  cursor: pointer;
  position: absolute;
  z-index: 2;
  letter-spacing: 1.2px;
  box-shadow: 5px 5px 1px black;
 /* Adjust as needed */
  /* margin-left: -100px; */
  line-height: 0.6;
 /* Adjust as needed */
}
.ourp-button:hover {
  background-color: #F46020; /* Change background on hover */
  color: white; /* Change text color on hover */
  transform: translateY(-5px); /* Move slightly upwards */
}

.ourp-text {
  position: relative;
  transition: all 0.3s ease; /* Add a smooth transition */
}

.ourp-button:hover .ourp-text {
  z-index: 2; /* Move to the top on hover */
}

.Our_Philosophy h1{
  font-size:114px;
  color: #E63747;
  line-height: 0.9;
  width: 1400px;
  /* margin-left: -50px; */
  justify-content: center;
  letter-spacing: -3px;
}

.Our_Philosophy p{
  font-size: 24px;
  font-family: 'Public Sans';
  text-wrap: 10px;
  color: #237560;
  margin-top: px;
  margin-bottom: 20px;
  line-height: -1.5;
  letter-spacing: -0.22px;
  width: 1400px;
  /* margin-left: -240px; */
  flex-wrap: wrap;
  font-weight:600;
}

.Box{
  margin-top: -513px; 
  position: relative;
  /* margin-left: -325px; */
}

.Our_Programs{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #316ADF;
  height:1120px;
}

.ourP-button {
  background-color: #173683; /* Same as background color */
  border: 3px 10px 10px 3px solid black; /* Use your button border color */
  border-radius: 102px; /* Adjust as needed */
  padding: 10px 18px; /* Adjust as needed */
  font-size: 30px;
  color: white; /* Use your button text color */
  text-decoration: none;
  font-family: 'Ostrich Sans';
  transition: all 1.7s ease; /* Add a smooth transition */
  cursor: pointer;
  position: absolute;
  z-index: 2;
  letter-spacing: 1.2px;
  box-shadow: 5px 5px 1px black;
   /* Adjust as needed */
  /* margin-left: -84px; */
  line-height: 0.6;
  margin-bottom: 10px; /* Adjust as needed */
}



.ourP-button:hover {
  background-color: #173683; /* Change background on hover */
  color: white; /* Change text color on hover */
  transform: translateY(-5px); /* Move slightly upwards */
}

.ourP-text {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease; /* Add a smooth transition */
}

.ourP-button:hover .ourP-text {
  z-index: 2; /* Move to the top on hover */
}

.PC1{
  background-color: aqua;
  z-index:2;
  position: absolute;
  width:400px;
  height: 250px;
  margin-top: -320px;
  /* margin-left: -200px; */
  border-radius: 20px;
}



.PC2{
  background-color: aqua;
  z-index:2;
  position: absolute;
  width:400px;
  height: 250px;
  margin-top: -320px;
  /* margin-left: -200px; */
  border-radius: 20px;
}



.PC3{
  background-color: aqua;
  z-index:2;
  position: absolute;
  width:400px;
  height: 250px;
  margin-top: -320px;
  /* margin-left: -200px; */
  border-radius: 20px;
}

.PC4{
  background-color: aqua;
  z-index:2;
  position: absolute;
  width:400px;
  height: 250px;
  margin-top: -320px;
  /* margin-left: -200px; */
  border-radius: 20px;
}



.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 200px; /* Space between the divs */
  padding-bottom: 50px;
}

.images div {
   /* Blue background similar to the image */
  width: 342px; /* Width for each item */
  height:327px;
  text-align: center;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  
border: 5px solid #0F2043;
border-radius: 32px;

  
}

.images div img {
  width: 342px;
  height:217px;
  border-radius: 30px 30px 0px 0px; /* Rounded top corners for images */
  z-index:1;
}

.images li {
  font-size: 24px; /* Adjusting font size */
  list-style: none;
  color: #FFFFFF; /* White text */
  
  background-color: #173683;
  width: 342px;
  height:105px;
  border-radius: 20px;
  
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Arrange items vertically */
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  
}
/* Frame 32 */

/*position: absolute;
width: 515px;
height: 110px;
left: 5px;
top: 193px;

background: #173683;
border-radius: 10px;*/

.images a {
  text-decoration: none;
  color: white; /* White link color */
  font-weight: bold;
}

.images a:hover {
  color: #ffcc00; /* Hover effect color */
}



.Border4{
  margin-top:px;
  z-index: 3;
  /* margin-left: -325px; */
}

.Border5{
  margin-top:-150px;
  /* margin-left: -320px; */
}
.border_1{
  width: 99%;
  

}

.Line{
  margin-top:-940px;
  position: absolute;
  left: 0;
  /* margin-left: -310px; */
  max-width: 100%;
  z-index: -100;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: left; /* Left alignment instead of center */
}

.container {
  width: 1000px; /* Fixed width */
  margin: 0 auto;
}

.footer-brand {
  flex: 1;
}

.footer-nav,
.footer-contact,
.footer-copyright {
  flex: 1;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  display: inline-block;
  margin-right: 20px;
}

.footer-contact p,
.footer-copyright p {
  margin-bottom: 10px;
}

.footer-copyright a {
  color: #eee;
  text-decoration: none;
}




@media (max-width: 1024px) {
  .hide-on-small-screen {
    display: none;
  }

  .Our_Philosophy p{
    width:900px;
  }
}

.custom-arrow {
  display: block;
  width: 80px;
  height: 100px;
  margin: 0 auto;
}

.custom-next-arrow {
  margin-right: -61px;
}

.custom-prev-arrow {
  margin-left: -62px;
}


/*<footer className='footer'>
        <div className="container">
          <div className="footer-brand">
            <img src="logo.svg" alt="Cheerful Mind Academy" />
          </div>
          <nav className="footer-nav">
            <ul>
              <li>
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </nav>
          <div className="footer-contact">
            <p>
              4&5, Vidhyut-C & D, Ground Floor. ISS Road. Opp.St. Xavier Street.
              Thakurdwar, Mumbai-400002
            </p>
            <p>
              <a href="tel:9987450006">9987450006</a>,{' '}
              <a href="tel:9987450002">9987450002</a>
            </p>
          </div>
          <div className="footer-copyright">
            <p>Copyright 2024 Cheerful Mind Academy All Rights Reserved.</p>
            <p>
              <a href="#">Privacy Policy</a> &nbsp;
              <a href="#">Terms & Conditions</a>
            </p>
          </div>
        </div>
      </footer>*/

      /* Frame 16 */

/*box-sizing: border-box;

position: absolute;
width: 308px;
height: 525px;
left: 3px;
top: 315px;

background: #FCEDA9;
border: 5px solid #0F2043;
border-radius: 32px;
transform: rotate(-90deg);


/* little-girl-doing-speech-therapy-clinic 1 */

/*position: absolute;
width: 538px;
height: 357px;
left: -3px;
top: -36px;

background: url(little-girl-doing-speech-therapy-clinic.jpg);


/* Frame 32 */

/*position: absolute;
width: 515px;
height: 110px;
left: 5px;
top: 193px;

background: #173683;
border-radius: 10px;


/* PRE-NUrsery */

/*position: absolute;
width: 256px;
height: 52px;
left: calc(50% - 256px/2);
top: calc(50% - 52px/2);

font-family: 'Ostrich Sans';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 52px;
text-align: center;

color: #FFFFFF;



/* Frame 105 */

position: absolute;
left: 150.79%;
right: -64.92%;
top: 3.13%;
bottom: 88.58%;

border-radius: 60.8px;


/* Ellipse 2 */

position: absolute;
width: 43.52px;
height: 43.52px;
left: 0px;
top: 0px;

background: #173683;


/* Vector */

position: absolute;
width: 22.46px;
height: 24.34px;
left: calc(50% - 22.46px/2 + 11.87px);
top: calc(50% - 24.34px/2 - 4.47px);

border: 3.744px solid #FFFFFF;
transform: rotate(45deg);
