@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

/* Global styles */
body {
  font-family: 'Ostrich Sans';
  margin: 0;
  padding: 0;
  max-width: fit-content;
  background-color: #FCEDA9;
}

/* Header styles */
.header {
  background-color: #FCEDA9;
  height: 9.5vh;
  padding: 20px;
  z-index: 9;
  position:fixed;
  top: 0;
  color: #E63747;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Public Sans';
  width: 100%; 
  box-sizing: border-box; 
}

.logo {
  display: flex;
  justify-content: center;
  margin-left: -2.3%;
  align-items: center;
  position: relative;
  margin-right: 0;
}

.logo img {
  height: 10.5vh;
  transform: translateY(-5%);
  flex-shrink: 0;
}
.title{
  background-color: #FCEDA9;
  top:60%;
  margin-left: 0;
  font-size: medium; 
  font-weight: 100;
  margin: 0;
  font-family: 'Life is Goofy';
}

.h1 {
  color: var(--accent-main, #E63747);
  text-align: left;
  font-family: 'Life is Goofy';
  font-size: 34.296px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.86px;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Public Sans';
  margin-top: 1px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  color: #E63747;
  text-align: center;
  font-family: 'Public Sans';
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.7px;
  word-spacing: -1.2px;
}

.nav li {
  margin-right: 8px;
}

.nav a {
  color: #E63747;
  text-decoration: none;
  font-family: 'Public Sans';
}
