@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

/* Global styles */
body {
  font-family: 'Ostrich Sans';
  margin: 0;
  padding: 0;
  max-width: fit-content;
  background-color: #FCEDA9;
}

/* Header styles */
.header {
  background-color: #FCEDA9;
  height: auto; /* Allow the height to adjust based on content */
  padding: 1px 20px; /* Adjust padding for better responsiveness */
  z-index: 9;
  position: fixed;
  top: 0;
  color: #E63747;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Public Sans';
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Prevent overflow issues */
}

.logo {
  display: flex;
  justify-content: center;
  margin-left: -2.3%;
  align-items: center;
  position: relative;
  margin-right: 0;
}

.logo img {
  height: 10.5vh;
  transform: translateY(-5%);
  flex-shrink: 0;
}
.title{
  background-color: #FCEDA9;
  top:60%;
  margin-left: 0;
  margin: 0;
  font-family: 'Life is Goofy';
  color: var(--accent-main, #E63747);
  text-align: left;
  font-size: 18px;
  font-style:normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.86px;
  word-spacing: 3.5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Public Sans';
  margin-top: 1px;
}

.nav ul {
  list-style: none;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  color: #E63747;
  text-align: center;
  font-family: 'Public Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.7px;
  word-spacing: 5px;
}

.nav li {
  margin-right: 15px;
}

.nav a {
  color: #E63747;
  text-decoration: none;
  font-family: 'Public Sans';
}

.Part1 {
  max-width: 100%;
  padding-top: 20px;
  background-color: aquamarine;
}