.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: left; /* Left alignment instead of center */
  }
  
  .container {
    width: 1000px; /* Fixed width */
    margin: 0 auto;
  }
  
  .footer-brand {
    flex: 1;
    width:1px;
  }
  
  .footer-nav,
  .footer-contact,
  .footer-copyright {
    flex: 1;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-contact p,
  .footer-copyright p {
    margin-bottom: 10px;
  }
  
  .footer-copyright a {
    color: #eee;
    text-decoration: none;
  }
  